.container {
  padding: 20px;
  background-color: #f9f9f9;
  color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.pageList {
  list-style: none;
  padding: 0;
  margin: 0;

  .pageListItem {
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: #0070f3;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}