


.goBackToHomeLink {
  margin-top: 30px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  background-color: var(--on-blue);
  border-radius: 5px;
}

.notFoundContainer {
  padding: 0px 23px;
  width: 100%;
  max-width: 836px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 50px;
  overflow-y: auto;

  @media (min-width: 768px) {
    padding: 36px;
  }
}

.container {
  padding: 0px 3px 80px 3px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: space-between;

  .brawlersHeader {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

    span {
      font-size: 12px;
    }
    margin-bottom: 24px;
  }
}