.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.battleHistoryItem {
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  width: 80%;
  border-radius: 5px;
  background-color: #f9f9f9;
}