.goBackToHomeLink {
  margin-top: 30px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  background-color: var(--on-blue);
  border-radius: 5px;
}

.container {
  padding: 23px;
  width: 100%;
  max-width: 836px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 50px;
  overflow-y: auto;

  @media (min-width: 768px) {
    padding: 36px;
  }

  .playerInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 24px;
    margin-bottom: 36px;

    .iconAndTagContainer {
      display: flex;
      flex-direction: column;
      width: 30%;

      .playerTag {
        font-size: 14px;
      }
    }

    .nameContainer {
      width: 70%
    }
  }

  .playerStatsContainer {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 36px;
    margin-bottom: 36px;

    @media (min-width: 768px) {
      grid-auto-flow: row;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: none;
    }
  }

  .playerClubContainer {
    height: 34px;
    width: 203px;
    display: flex;
    justify-content: start;
    align-self: flex-start;
    position: relative;
    margin-bottom: 24px;

    img {
      position: absolute;
    }

    .clubNameContainer {
      width: 187px;
      height: 36px;
      background-color: #989898;
      align-self: center;
      margin-left: 20px;
      padding-left: 20px;
      font-size: 12px;
      font-weight: bold;
      color: var(--white);
    }
  }
}