.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  h3 {
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
  }

  h5 {
    font-size: 10px;
    color: var(--blue-black);
  }
}