
/* @import "tw-animate-css"; */

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html
{
	height: 100dvh;
	width: 100dvw;
}

body {
	height: 100%;
	width: 100%;
}

main {
	height: 100%;
	width: 100%;
	padding: 51px 0px 51px 0px;
}

a {
	color: inherit;
	text-decoration: none;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	/* 手動で追加したバリアブル */
	--black: #181818;
  --white: #e7e9ea;
  --black-border: #2f3336;
  --blue-black: #262626;
  --placeholder-gray: #9CA3AF;
  --hover-gray: #374151;
  --trophy-yellow: #ffc800;
  --defeat-red: #df0000;
  --victory-green: #00ff00;
  --ongoing-orange: #ffa500;
  --draw-gray: #cccccc;
  --showdown-green: #83dc3b;
  --arena-orange: #ff573b;
  --hotzone-red: #ff2e3b;
  --report-gray: #343b54;
  --battlelog-bg-top: #8574a3;
  --battlelog-bg-middle: #7d6c9b;
  --battlelog-bg-bottom: #8574a3;
  --mvp-text: #ffe16f;
  --mvp-background: #ffa200;
  --duration-purple: #d0bafa;
  --same-team-gray: #8d849b;
  --soloRanked-bg-round: #7e719d;
  --club-color-c0: #4d4848;
  --club-color-c1: #e1e1e1;
  --club-color-c2: #fd8067;
  --club-color-c3: #9aee2d;
  --club-color-c4: #2766cf;
  --club-color-c5: #61def1;
  --club-color-c6: #f871f8;
  --club-color-c7: #ffd156;
  --club-color-c8: #d16eff;
  --club-color-c9: #fe6a71;
  --on-blue: #3B82F6;
  --danger-red: #EF4444;
  --success-green: #10B981;
  --bottom-container-bg-blue: #003378;
  --brawler-normal: #94D7F4;
  --brawler-rare: #2EDD1B;
  --brawler-super-rare: #0087FA;
  --brawler-hyper-rare: #B116EC;
  --brawler-ultra-rare: #FF0021;
  --brawler-legendary: #FFF11E;
  --report-bg-light: #248EF6;
  --report-bg: #105DE5;
  --report-bg-dark: #0A4BBE;
  --cancel-red: #DF362E;
  --submit-blue: #2373FF;

	--outline: 2px;
	--stroke: #0b0b0b;
	--red1:#ff4a3d;
	--red2:#ff6a3a;
	--red3:#ff2f2f;
	--inner1:#ffe36b;
	--inner2:#ffc24a;

	--power-bg: #FE00D6;

	/* 自動追加されたバリアブル */
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	
	/* Custom variables for TagInput */
	--black-border: oklch(0.269 0 0);
	--blue-black: oklch(0.269 0.05 240);
	--white: oklch(0.985 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
	
	/* Custom variables for TagInput */
	--black-border: oklch(0.269 0 0);
	--blue-black: oklch(0.269 0.05 240);
	--white: oklch(0.985 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}