.footer {
  position: fixed;
  bottom: -1px;
  width: 100%;
  z-index: 1000;
  height: 53px;
  background-color: var(--black);
  border-top: 1px solid var(--black-border);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);

  .container {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footerLink {
      padding-bottom: 3px;
    }

    .isLinkActive {
      border-bottom: 3px solid var(--white);
    }
  }
}