.container {
  width: 138px;
  display: flex;
  flex-direction: column;
  text-align: center;
  clip-path: polygon(2% 0, 100% 0, 98% 100%, 0% 100%);

  h5 {
    font-size: 12px;
    font-weight: bold;
  }

  .statContainer {
    background: rgba(84, 83, 83, 0.35);
    backdrop-filter: blur(6px);
    height: 32px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 12px;

    p {
      margin-left: 12px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}