name: Deploy development Web

on:
  push:
    branches:
      - dev
    paths:
      - 'apps/web/**'
      - 'packages/**'
      - '.github/workflows/dev-web_deploy.yml'

defaults:
  run:
    working-directory: apps/web
jobs:
  deploy-dev:
    runs-on: ubuntu-latest

    env:
      NEXT_PUBLIC_ENV: dev

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm ci

      - name: build Web with static export, output to ./out
        run: npm run build

      - name: Deploy Web to Dev
        run: npx wrangler pages deploy ./out --project-name=safebrawl-web-dev
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}