name: Deploy production App

on: 
  push:
    branches:
      - main
    paths:
      - 'apps/app/**'
      - 'packages/**'
      - '.github/workflows/prod-app_deploy.yml'

defaults:
  run:
    working-directory: apps/app

jobs:
  deploy-dev:
    runs-on: ubuntu-latest

    env:
      API_URL: ${{ secrets.API_URL }}
      PROXY_TARGET_URL: ${{ secrets.PROXY_TARGET_URL }}


    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm ci

      - name: Deploy App to Production
        run: npm run deploy:production
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
